* {box-sizing: border-box;}

sub-title{display:block;text-align:center}

h1{font-size:30pt;text-align:center}

h2,sub-title{font-size:20.74pt;margin-bottom:40pt;margin-top:20pt}

h3{font-size:14.4pt;margin-top:3.5ex;margin-bottom:2.3ex}

h4{font-size:12pt;margin-top:3.25ex;margin-bottom:1.5ex}

h5{font-size:11pt;margin-top:3.25ex;margin-bottom:1.5ex}

h6{font-size:11pt;margin-top:0pt;margin-bottom:0pt; display:inline}

p{font-size:11pt;margin-top:0pt;margin-bottom:0pt;text-indent:18pt}

p,li,code,td,div{font-size:11pt;margin-top:0pt;margin-bottom:0pt}

h1+p,h2+p,h3+p,h4+p,h5+p,p:first-of-type,li{text-indent:0pt}

cite{font-style:normal}

p.bibitem,table{text-indent:0pt;margin-top:1.25ex;margin-bottom:1.5ex}

div.abstract{margin-top:2ex; font-style:italic}
p.titlepage{font-size:14.4pt;text-align:center}
span.fill{margin-right:18pt}

ol,ul{padding-left:14pt;}
nav{padding-right:0.05em;}

h1,h2,h3,h4,h5,h6,p,li,td,th,div,sub-title
	{font-family:"Latin Modern","Latin Modern Roman","CMU Serif","Century Schoolbook",Serif;}
h1,h2,h3,h4,h5,h6,th,sub-title{font-weight:bold;}
code,pre,kbd{font-family:"Latin Modern Mono",Monospace}
pre > code,kbd,ui-button{font-size:10pt}
ui-button{font-family: "Latin Modern Sans", sans-serif;}
ui-formfield{font-family: "Latin Modern Sans", sans-serif;}
div.listing,figure,titlepic,div.infobox_warning,div.infobox_info
	{position:relative;width:80%;left:0px;margin-left:auto;margin-right:auto;margin-top:3.25ex;margin-bottom:1.5ex}
img{position:relative;max-height:40ex;margin-left:auto;margin-right:auto;display:block;max-width:100%}
div.titlepic img{position:relative;width:61%;margin-left:auto;margin-right:auto;display:block;max-height:initial}
figure > p{margin-top:0.75ex}

td > img
	{
	height: 1em;
	width: initial;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 0.25em;
	margin-bottom: auto;
	}

p > img,div > img
	{
	height: 1em;
	width: initial;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	}

@media screen and (min-width: 700px)
	{
	body > * {width:calc(100% - 200px);position:relative;left:200px;}

	nav{top:0;position:fixed;width:200px;left:0pt;padding-left:8px;height: 100%;overflow-y:auto}

	nav > h2,nav > ol{position:static}

	div.listing,figure,titlepic,div.infobox_warning,div.infobox_info
		{position:relative;width:calc(80% - 200px);left:100px; margin-left:auto;margin-right:auto;page-break-inside: avoid}

	}


@media print {
    h2 {page-break-before: right;}
	pre,code{overflow-x: visible;overflow-y:visible}
}

kbd
  {
	padding-left:0.25em;
		padding-right:0.25em;
		border:1px solid;
		height:1.5em;
		display:inline;
		text-align:center;
		border-radius:0.2em;
}
ui-button
{padding-left:0.25em;
	padding-right:0.25em;
	border:1px solid;
	height:1.5em;
	display:inline;
	text-align:center;border-radius:0.2em;}

div.infobox_warning, div.infobox_info{padding:0.25em;display:table;}
info-content > div{display:table-cell; vertical-align: top;padding-left:0.5em;}

info-content{display:table-row;}
div.infobox_info{padding:0.25em;display:table;}
info-content > picture{display:table-cell;}
info-content > picture > img{width:4em;max-width:initial}

table{border-top:2px solid;border-bottom:2px solid;border-collapse:collapse}
td{vertical-align: top;padding-right:0.25em}
tr.colheaders>td{border-bottom:2px solid;font-weight: bold;}
tr.hline>td{border-bottom:1px solid}

nav li{list-style-type:none;}
nav span.fill{margin-right:0.5em}
nav > ol {margin-left: 0px;padding-left: 0px;}
