* {box-sizing: border-box;}

h1{font-size:30pt;text-align:center}

h2{font-size:20.74pt;margin-bottom:40pt;margin-top:20pt}

h3{font-size:14.4pt;margin-top:3.5ex;margin-bottom:2.3ex}

h4{font-size:12pt;margin-top:3.25ex;margin-bottom:1.5ex}

h5{font-size:11pt;margin-top:3.25ex;margin-bottom:1.5ex}

h6{font-size:11pt;margin-top:0pt;margin-bottom:0pt; display:inline}

p{font-size:11pt;margin-top:0pt;margin-bottom:0pt;text-indent:18pt}

p,li,code,td,div{font-size:11pt;margin-top:0pt;margin-bottom:0pt}

h1+p,h2+p,h3+p,h4+p,h5+p,p:first-of-type,li{text-indent:0pt}

cite{font-style:normal}

p.bibitem,table{text-indent:0pt;margin-top:1.25ex;margin-bottom:1.5ex}

div.abstract{margin-top:2ex; font-style:italic}
p.titlepage{font-size:14.4pt;text-align:center}
span.fill{margin-right:18pt}

ol,ul{padding-left:14pt;}
nav{padding-right:0.05em;}

h1,h2,h3,h4,h5,h6,p,li,td,th,div
	{font-family:"Latin Modern","Latin Modern Roman","CMU Serif","Century Schoolbook",Serif;}
code,pre,kbd{font-family:"Latin Modern Mono",Monospace}
pre > code,kbd,ui-button{font-size:10pt}
ui-button{font-family: "Latin Modern Sans", sans-serif;}
ui-formfield{font-family: "Latin Modern Sans", sans-serif;}
div.listing,figure,titlepic,div.infobox_warning,div.infobox_info
	{position:relative;width:calc(100% - 40pt);left:0px;margin-left:20pt;margin-top:3.25ex;margin-bottom:1.5ex}
img{position:relative;width:100%}




@media screen and (min-width: 700px)
	{
	body > * {width:calc(100% - 200px);position:relative;left:200px;}

	nav{top:0;position:fixed;width:200px;left:0pt;padding-left:8px;height: 100%;overflow-y:auto}

	nav > h2,nav > ol{position:static}

	div.listing,figure,titlepic,div.infobox_warning,div.infobox_info
		{position:relative;width:calc(100% - 200px - 80pt);left:200px;margin-left:40pt;}

	}


@media print {
    h2 {page-break-before: right;}
	pre,code{overflow-x: visible;overflow-y:visible}
}

kbd
  {
	padding-left:0.25em;
		padding-right:0.25em;
		border:1px solid;
		height:1.5em;
		display:inline;
		text-align:center;
		border-radius:0.2em;
}
ui-button
{padding-left:0.25em;
	padding-right:0.25em;
	border:1px solid;
	height:1.5em;
	display:inline;
	text-align:center;border-radius:0.2em;}

div.infobox_warning{padding:0.25em;display:table;}
div.infobox_warning > picture{display:table-cell;width:4em;}
div.infobox_warning > div{display:table-cell; vertical-align: top;padding-left:0.5em;}

div.infobox_info{padding:0.25em;display:table;}
div.infobox_info > picture{display:table-cell;width:4em;}
div.infobox_info > div{display:table-cell; vertical-align: top;padding-left:0.5em;}

table{border-top:2px solid;border-bottom:2px solid;border-collapse:collapse}
td{vertical-align: top;}
tr.colheaders>td{border-bottom:1px solid;font-weight: bold;padding-right:}